<div class="login_block green_theme" ng-controller="resetPassWordController">
	<form name="myresetForm" ng-submit="resetPassword(myresetForm.$valid)"   novalidate autocomplete="off">
		<div class="form-group ">

			<input type="password" class="form-control input_brdr"  ng-change="validatePwdField=false"
				ng-model="newpassword" name="input" placeholder="New Password" required autocomplete="new-password">

		</div>
		<div class="form-group">
			<input type="password" class="form-control input_brdr" ng-change="validatePwdField=false"
				ng-model="confirmpassword" placeholder="Confirm Password" required autocomplete="new-password">
		</div>
		<button class="md-button md-primary btn-block login_button_green" type="submit">Submit</button>
		<p id="showResetError" ng-show="validatePwdField" class="help-block text-danger"> </p>
	</form>
	
</div>